@import './base.css';

@font-face {
  font-family: 'Blogh';
  src: url('@/assets/fonts/Blogh.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.heading-2{
   font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #003787;
    font-family: 'Blogh', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}